# vim:ft=sh
# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias .3='cd ../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../../'
alias .6='cd ../../../../../../'
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"
alias weather='curl http://wttr.in/seattle'

# Enhanced WHOIS lookups
# alias whois="whois -h whois-servers.net"

# Recursive cleanup of DS_Store files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Python
alias python=python3
alias pip=pip3

# for git
alias log='git log --stat --decorate --oneline --no-merges'

# for archive
alias archive='rar a -df -rr25% -ma5 -ep -hp -t'
